<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
 
<p style="font-size: 25px; text-align: center;">Noli Me Tángere (nobela)</p>

 <div>
  <ion-card>
    <ion-card-content>
      Ang Noli Me Tángere ay isang nobelang isinulat ni Jose Rizal, at inilathala noong 1887, sa Europa. Ang pagbasa nito at ang kasunod nitong El Filibusterismo, ay kailangan para sa mga mag-aaral sa sekondarya.
      </ion-card-content>
    </ion-card>


    <ion-card>
    <ion-card-content><b>PAMAGAT</b><br><br>
      Hango sa Latin ang pamagat nito na may kahulugang "huwag mo akong salingin (o hawakan)". Sinipi ito mula sa Juan 20:17 kung saan sinabi ni Hesus kay Maria Magdalena na "Huwag mo akong salingin sapagkat hindi pa ako nakaaakyat sa aking ama."
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content><b>Kasaysayan</b><br><br>
      Unang nobela ni Rizal ang Noli me Tangere. Inilathala ito noong 26 taóng gulang siya. Makasaysayan ang aklat na ito at naging instrumento upang makabuo ang mga Pilipino ng pambansang pagkakakilanlan. Sa di-tuwirang paraan, nakaimpluwensiya ang aklat ni Rizal sa rebolusyon subalit si Rizal mismo ay isang nananalig sa isang mapayapang pagkilos at isang tuwirang representasyon sa pamahalaang Kastila. Orihinal itong nakasulat sa wikang Kastila, ang wika ng mga edukado noong panahong yaon.
      <br><br>
      Sinimulan ni Rizal ang nobela sa Madrid, Espanya. Kalahati nito ay natapos bago siya umalis ng Paris, at natapos ito sa Berlin, Alemanya. Inilaan ni Vicente Blasco Ibáñez, isang bantog na manunulat, ang kaniyang serbisyo bilang tagapayo at tagabasa.
      <br><br>
      Ang nobela ni Rizal ay tumatalakay sa mga kinagisnang kultura ng Pilipinas sa pagiging kolonya nito ng Espanya. Binabatikos din ng nobela ang mga bisyo na nakasanayan ng mga Pilipino at ang kapangyarihang taglay ng Simbahang Katoliko na nahihigit pa ang kapangyarihan ng mga lokal na alkalde.
      <br><br>
      Bumuo ng kontrobersiya ang nobelang ito kung kaya't pagkatapos lamang ng ilang araw na pagbalik ni Rizal sa Pilipinas, pinatawag siya ni Gobernador-Heneral Emilio Terrero sa Malacañang at inabisuhang puno ng subersibong ideya ang Noli Me Tangere. Pagkatapos ng usapan, napayapa ang liberal ng Gobernador Heneral ngunit nabanggit niya na wala siyang magagawa sa kapangyarihan ng simbahan na gumawa ng kilos laban sa nobela ni Rizal. Mahihinuha ang persekusyon sa kaniya sa liham ni Rizal sa Leitmeritz:
      <br><br>
      Gumawa ng maraming ingay ang libro ko; kahit saan, tinatanong ako ukol rito. Gusto nila akong gawing excommunicado dahil doon... pinagbibintangan akong espiya ng mga Aleman, ahente ni Bismarck, sinasabi nila na Protestante ako, isang Mason, isang salamangkero, isang abang kaluluwa. May mga bulong na gusto ko raw gumawa ng plano, na mayroon akong dayuhang pasaporte at gumagala ako sa kalye pagkagat ng dilim ...
    </ion-card-content>
  </ion-card>

</div>
</ion-toolbar>
</ion-header>
</ion-content>